/* Importing Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Variables  */
:root {
  --main-font-family: "Poppins", sans-serif;
  --white: #fff;
  --black: #000;
  --main-border-color: #03a9f4;
  --first-blue-shade: #f1e3f3;
  --fifth-blue-shade: #3590f3;
  --main-linear-gradient: linear-gradient(
    to right,
    #f1e3f3 0%,
    #c2bbf0 25%,
    #8fb8ed 50%,
    #62bfed 75%,
    #3590f3 100%
  );
  --grass-linear-gradient: linear-gradient(to bottom, #74ad01, #4e6b01);
  --poison-linear-gradient: linear-gradient(to bottom, #ffcccc, #cc9999);
  --fire-linear-gradient: linear-gradient(to bottom, #ff7e5f, #ff4922);
  --water-linear-gradient: linear-gradient(to bottom, #a0d8f7, #36a1ff);
  --bug-linear-gradient: linear-gradient(to bottom, #8b4513, #008000);
  --normal-linear-gradient: linear-gradient(to bottom right, #ffcc00, #ff6600);
  --electric-linear-gradient: linear-gradient(
    to bottom right,
    #00ff00,
    #0000ff,
    #ff00ff
  );
  --ground-linear-gradient: linear-gradient(to bottom, #87ceeb, #74ad01);
  --fairy-linear-gradient: linear-gradient(135deg, #fceabb, #f8b500);
  --fighting-linear-gradient: linear-gradient(135deg, #87ceeb, #2f4f4f);
  --psychic-linear-gradient: linear-gradient(
    to bottom right,
    #6c5b7b,
    #c06c84,
    #f67280
  );
  --rock-linear-gradient: linear-gradient(to bottom, #a6a6a6, #737373);
  --ice-linear-gradient: linear-gradient(to bottom, #b3e0ff, #ffffff);
  --dragon-linear-gradient: linear-gradient(45deg, #ff4500, #ff8c00, #008000);
  --dark-linear-gradient: linear-gradient(to bottom, #333333, #000000);
  --ghost-linear-gradient: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  --steel-linear-gradient: linear-gradient(135deg, #444444, #999999);
}

/* types */
.grass {
  background: var(--grass-linear-gradient);
}
.poison {
  background: var(--poison-linear-gradient);
}
.fire {
  background: var(--fire-linear-gradient);
}
.water {
  background: var(--water-linear-gradient);
}
.bug {
  background: var(--bug-linear-gradient);
}
.normal {
  background: var(--normal-linear-gradient);
}
.electric {
  background: var(--electric-linear-gradient);
}
.ground {
  background: var(--ground-linear-gradient);
}
.fairy {
  background: var(--fairy-linear-gradient);
}
.fighting {
  background: var(--fighting-linear-gradient);
}
.psychic {
  background: var(--psychic-linear-gradient);
}
.rock {
  background: var(--rock-linear-gradient);
}
.ice {
  background: var(--ice-linear-gradient);
}
.dragon {
  background: var(--dragon-linear-gradient);
}
.dark {
  background: var(--dark-linear-gradient);
  color: var(--white);
}
.ghost {
  background: var(--ghost-linear-gradient);
}
.steel {
  background: var(--steel-linear-gradient);
}

/* Animation */
@keyframes waveform {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
}
h1 {
  font-size: 4rem;
  text-transform: capitalize;
}
h2,
p,
button {
  font-size: 3rem;
  text-transform: capitalize;
}
html::-webkit-scrollbar {
  width: 0.25rem;
}
html::-webkit-scrollbar-thumb {
  height: 5rem;
  background-color: var(--first-blue-shade);
}
html::-webkit-scrollbar-track {
  background-color: var(--fifth-blue-shade);
}

/* wholeContainer */
.wholeContainer {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background-image: var(--main-linear-gradient);
  padding: 2rem 0;
  min-height: 100vh;
}

/* Heading Container */
#heading {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
#heading .content {
  position: relative;
}
#heading .content h1:nth-child(1) {
  color: var(--white);
}
#heading .content h1:nth-child(2) {
  position: absolute;
  top: 0.125rem;
  animation: waveform 2.5s ease-in-out infinite;
}

/* Info Container */
#allPokemons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.specific img {
  width: 16rem;
  height: 16rem;
}
.specific {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
}
.specific button {
  border: 2px solid var(--black);
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 10px;
}
.specific button:hover {
  border: 2px solid var(--white);
  background: var(--main-linear-gradient);
}

/* subPokemon */
.individualPokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;
  border-radius: 15px;
}
.individualPokemon button {
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0 1rem;
  position: relative;
  left: 34rem;
  top: 1rem;
}
.individualPokemon button:hover {
  background: var(--ice-linear-gradient);
}
.individualPokemon img {
  height: 120px;
  width: 120px;
}
.info {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* pagination Buttons */
#offset {
  display: none;
}
#load {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.loadBtn {
  border: 2px solid var(--black);
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 10px;
  outline: none;
  background: var(--poison-linear-gradient);
}
#current {
  padding: 0 2rem;
  background: transparent;
  cursor: none;
  outline: none;
  border: none;
}
.loadBtn:hover {
  border: 2px solid var(--white);
  background: var(--ice-linear-gradient);
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
  #allPokemons {
    grid-template-columns: repeat(2, 1fr);
  }
  .individualPokemon button {
    left: 24rem;
  }
  h2,
  p,
  button {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 900px) {
  .individualPokemon button {
    left: 22rem;
  }
  h2,
  p,
  button {
    font-size: 2rem;
  }
  .specific img {
    width: 13rem;
    height: 13rem;
  }
}
@media screen and (max-width: 800px) {
  .individualPokemon button {
    left: 19rem;
  }
  button,
  h2,
  p {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 700px) {
  .individualPokemon button {
    left: 16rem;
  }
  h1 {
    font-size: 3rem;
  }
  button,
  h2,
  p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  #allPokemons {
    grid-template-columns: repeat(1, auto);
  }
  .specific img {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .individualPokemon button {
    left: 14rem;
  }
  button,
  h2,
  p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 550px) {
  .individualPokemon button {
    left: 10rem;
  }
  button,
  h2,
  p {
    font-size: 1rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .individualPokemon button {
    left: 9rem;
  }
  button,
  h2,
  p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  #heading .content1 {
    display: none;
  }
  .individualPokemon button {
    left: 7rem;
  }
  button,
  h2,
  p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 350px) {
  .individualPokemon button {
    left: 6rem;
  }
  button,
  h2,
  p {
    font-size: 0.675rem;
  }
}
@media screen and (max-width: 300px) {
  .individualPokemon button {
    left: 5rem;
  }
}
@media screen and (max-width: 250px) {
  .individualPokemon button {
    left: 3.25rem;
  }
}
